.App{
  margin: 0;
  padding: 0;
}

.container{
  background-image: url("/src/image/wallpaper1.jpg");
  background-size: cover;
  height: auto;
}

@media (max-width: 767px) {
  .container {
    background-size: contain;
    background-repeat: repeat;
  }
}